*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(252, 250, 250);
    
}

main{
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: scroll;

}
nav{
    height: 50px;
    width: 100%;
   
    color: White;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    height: 80%;
    width: 70%;
    
    background-color: #354b36;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-bar img{
    height: 40px;
    width: 40px;
    
    mix-blend-mode: screen;
}

.links{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.9s ease-in-out;
    
}

.links :hover {
    transform: scale(1.1) translateY(-5px);
}

.links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #fbb017; /* Change to any color you prefer */
}

.links a:hover {
    color: #fdd458; /* Keeps the 'Home' link in a different color */
}


.contact_btn{
    height:90% ;
    width: 15%;
    transition: 0.2s ease-in-out;
    border-radius: 25px;
    background-color: white;
}

.contact_btn button {
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;


}
.contact_btn button :hover {
    transform: scale(1.1) translateY(-5px);
    color: #fbb017;
}

.contact_btn :hover {
    transform: scale(1.1) translateY(-5px);
    color: #fbb017;
}

.Landing_page{
    height: 80vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

.welcome_info{
    height: 100%;
    width: 50%;
    /* border: 1px solid rgb(10, 3, 3); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.welcome_info button {
    height: 7vh;
    width: 10vw;
    background-color: #354b36;
    color: #fca92f;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.welcome_info button:hover {
    transform: scale(1.1) translateY(-5px);
    background-color: #3a6a3a; 
}

.home__img {
    position: relative;
    width: auto;
    height: auto;
}


.home__blob {
    
    fill: #fca92f;
    height: 60vh; 
    margin-left: 220px;
    margin-top: 50px;
   

}

.home__blob-img {
    width: 360px; 
}

.home__blob{
   filter: drop-shadow(20px 7px 5px #3a6a3a );
}




.About{
    height: 70vh;
    width: 100%;
    /* border: 1px solid black; */
    background: linear-gradient(white,yellow);
    display: flex;
    flex-direction: row;

}

.About img{
    height: 340px;
    width: 20%;
    filter: drop-shadow(10px 7px 5px #3a6a3a );
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 150px;
}


.aboutme{
    height: 100%;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    flex-direction: column;
}


.Skills{
    height: 70vh;
    width: 100%;
    /* border: 1px solid black; */
    background: linear-gradient(yellow,white);
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.wrapper {
    height: 90%;
    width: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.wrapper img {
    width: 10%; 
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    /* border: 2px solid rgb(82, 78, 78); */
    transition: all 0.8s ease-in-out;
}

.wrapper img:hover {
    width: 20%; 
}
.Projects{
    height: 130vh;
    width: 100%;
    
    background: linear-gradient(rgb(244, 240, 240),yellow);
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr ; */
    display: flex;
    grid-row: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.allvideos{
    height: auto;
    width: 100%;
    display: flex;
    grid-row: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.card1{
    height: 40vh;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgba(218, 218, 212, 0.678);
    border-radius: 25px;
    padding: 5px;
    transition: all 0.8s ease-in-out;

}
.card1:hover {
    width: 80%; 
}




.card1 video{
    height: 80%;
    width: 100%;
}

.images{
    height: auto;
    width: 100%;
    display: flex;
    grid-row: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.image1{
    height: 40vh;
    width: 100%;
    /* border: 1px solid black; */
    background-color: rgba(218, 212, 212, 0.678);
    border-radius: 25px;
    padding: 5px;
    transition: all 0.8s ease-in-out;
    margin-top: 30px;

}
.image1:hover {
    width: 80%; 
}
.image1 img{
    
    height: 80%;
    width: 100%;
    
}


.footer{
    height: 50vh;
    width: 100%;
    background: linear-gradient(white,#374a36);
    display: flex;
    flex-direction: row;
    color: rgb(7, 4, 4);

}
.part1{
    height: 100%;
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.part1 img {
    margin-top: 10px;
    margin-left: 5px;
    height: 25px;
    width: 25px;
    transition: all 0.8s ease-in-out;
}

.part1 img:hover {
    transform: scale(1.5); 
}

.part2{
    height: 100%;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

form{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    filter: drop-shadow(20 ,7 , 6 ,yellow);
  
}
form input{
    background-color: #e4d8c0;
    color: white;
    border-radius: 10px;
    
}

form button{
    height: 30px;
    background: linear-gradient(white,yellow);
    border: none;
    border-radius: 5px;
    font-weight: bold;
}